{
    "java" : {
        "jdk_version" : "7",
        "oracle" : {
            "accept_oracle_download_terms" : "true"
        }
    },
    "mapr": {
        "install": {
            "version": "3.0.2",
            "cluster_validation": "false",
            "local_package_repo": "false",
            "wire_level_security": "false"
        },
        "nodes" : [
            { "ip": "192.168.33.11",
              "host": "i1",
              "fqdn": "i1.cluster.com",
              "disks": ["/dev/sdb","/dev/sdc","/dev/sdd"],
              "roles": ["mapr_control_node", "mapr_data_node"] }
        ]
    }
}
